<!doctype html>
<html lang="nl">
<head>
<meta charset="utf-8">
<title>{{ .cluster.name }}</title>
</head>
<body>
<h1>{{ .cluster.name }}</h1>
<p>Dit is {{ .node.hostname }}. Deze pagina komt van ClusterForge; zet je eigen site in /var/www/html.</p>
</body>
</html>
